@keyframes translate{
  from{
    transform: translateY(-200px)
  }
  to{
      transform: translateY(100px)
  }
} 


div.popup_is-opened{
  display: flex;
}
/* div.popup_is-opened:focus{
  transform: translateY(200px);
} */
